:root {
  --gradient-active: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --color-error: hsl(0, 100%, 66%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-violet: hsl(270, 3%, 87%);
  --color-gray-violet: hsl(279, 6%, 55%);
  --color-dark-violet: hsl(278, 68%, 11%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Space Grotesk', sans-serif;;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}